/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

:root {
    font-family: "Mona Sans","Mona Sans Header Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #0f0f0f;
    background-color: #f6f6f6;
  
  }

  body {
    margin: 0px;
  }

  .settings-logo{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
            transition: transform 0.8s ease-in-out;
  }

  .settings-logo:hover {
    transform: rotate(270deg);
    cursor: pointer;
  }

  .settings-container { 
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
  }


  .subprocess-header {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
  }

  .clock-section {
    position: fixed;
    bottom: 1px;
    right: 1px;
    text-align: right;
  }


  .main-subprocess-control-block {
    text-align: center;
    position:fixed;
    top: 0px;
    height: 90px;
    border: 2px solid rgb(118, 108, 128);
    background-color: #ded1e4;
  }

  .module-row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 5px; /*Optional*/
  }

  .module-column {
    display: table-cell;
  }

  .inventory-manager {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .module-header {
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }

  .button-collection {

  }

  .main-buy-block {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #ded1e4;
  }

  .main-inventory-block {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    background-color: #ded1e4;
  }

  .inventory-summary {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ded1e4;
    border-top: 2px solid #ece3f0;
  }

  .column-name {
    padding-bottom: 10px;
    font-size: 18px;
  }

  .inventory-grid {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
  }

  tr:nth-child(even) {
    background-color: #ece3f0;
  }



  .visuals-block {
    text-align: center;
    padding-top: 30px;
  }
  

  input,
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    /* font-size: 1em; */
    /* font-weight: 500; */
    /* font-family: inherit; */
    color: #0f0f0f;
    background-color: #ffffff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 4px;
  }
  
  button:hover {
    border-color: #bd3ed6;
  }
  
  .button-toggle-on {
    color: #ffffff;
    background-color: #f05c5c
  }

  .settings-popup {
    outline: 1px solid red;
    text-align: center;
    position: fixed;
    top: 5vh;
    left: 10vw;
    height: 90vh;
    width: 80vw;
  }

  .settings-scroll {
    overflow: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .settings-row {
    display:flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
    justify-content: center;
  }

  .flex-element {
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
  }

  .list {
    width: 50%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin: 4px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  @media (prefers-color-scheme: dark) {
    :root {
      color: #f6f6f6;
      background-color: #0d0a10;
    }
  
    input,
    button {
      color: #ffffff;
      background-color: #2c3b3d
    }

    button:hover {
      border-color: #9dedf8;
    }

    .button-toggle-on {
      color: #ffffff;
      background-color: #aa3939
    }

    .main-subprocess-control-block {
      background: #1c1622;
    }

    .main-buy-block {
      background: #1c1622;
    }

    .main-inventory-block {
      background: #1c1622;
    }

    tr:nth-child(even) {
      background-color: rgb(73, 56, 80);
    }

    .list-element:nth-child(even) {
      background-color: rgb(73, 56, 80);
    }

    .inventory-summary {
      background: #1c1622;
      border-top: 2px solid rgb(73, 56, 80);
    }

    .settings-popup {
      background: #1c1622;
    }

  }